.navbar-nav > li{
    padding-left:0.5em;
    padding-right:0.5em;
  }

.navbar-brand{
    margin-right: 3em;
}

.fieldInfo{
  color: rgb(251, 174, 44);
  font-family: Bitter, Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}